<div *ngIf="!open" (click)="openNotes()" class="Show_Creater">Take a Note...
</div>
<mat-card class="collabrate" *ngIf="open">

  <div  class="Open_Creater">
     <form [formGroup]="takeNote">
      
        <input  class="input" matInput type="text" placeholder="Title" formControlName="title">
      

      
        <textarea class="input" matInput placeholder="desc" formControlName="desc"></textarea>
    
     

    </form> 

    <!-- <div>
       
      <input class="input" placeholder="Title" [formControl]='title' />
    </div>

    <div>
      <input  class="input" placeholder="Description" [formControl]='desc'/>
    </div> -->

    <app-property></app-property>
    <div (click)="close()">Close</div>
  </div>
</mat-card>