<h1>
    Register Here
</h1> 
<div>
<div class="register-container" align=center>
  <mat-card class="input-card">

<div class="input-field">
        <mat-form-field>
          <input matInput type="text" placeholder="User Name">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput type="email" placeholder="email">
        </mat-form-field>


        <mat-form-field>
            <input matInput type="text" placeholder="mobile">
        </mat-form-field>


          <mat-form-field>
              <input matInput type="password" placeholder="password">
          </mat-form-field>


          <mat-form-field>
               <input matInput type="password" placeholder="confirm password">
         </mat-form-field>

        </div>    

        <button mat-button>Register</button>
      </mat-card>
      </div>
    </div>