
<div>
<div class="register-container" align=center>
  <mat-card class="input-card">
    <form [formGroup]="Registerform">
<div class="input-field">
        <mat-form-field>
          <input matInput type="text" placeholder="User Name" formControlName="name" >
          <mat-error *ngIf="Registerform.get('name').errors">
            Name must be at least 5 characters long.
          </mat-error>
      </mat-form-field>



        <mat-form-field>
          <input matInput type="email" placeholder="email" formControlName="email" required>
          <mat-error *ngIf="Registerform.get('email').errors">
            Enter valid Email
          </mat-error>
        </mat-form-field>


        <mat-form-field>
            <input matInput type="text" placeholder="mobile" formControlName="mobile" >
            <mat-error *ngIf="Registerform.get('mobile').errors">
              Mobile Number must be at least 10 characters long.
            </mat-error>
            <mat-error *ngIf="Registerform.get('mobile').errors">
              Mobile NUmber must be at least 10 characters long.
            </mat-error>
        </mat-form-field>


          <mat-form-field>
              <input matInput type="password" placeholder="password" formControlName="password" required>
              <mat-error *ngIf="Registerform.get('password').errors">
                Password must be at least 5 characters long.
              </mat-error>
          </mat-form-field>


          <!-- <mat-form-field>
               <input matInput type="password" placeholder="confirm password" formControlName="confirmPassword" required>
         </mat-form-field> -->

        </div>    
        <button mat-button [disabled]="!Registerform.valid" (click)='Register()'>Register</button>
        
        </form>
      </mat-card>
      </div>
    </div>