<h1>Login Form</h1>
<div class="login" align="center">
  <div>

  <mat-form-field appearance="legacy">
      <mat-label>Username</mat-label>
    <input matInput type="email" placeholder="emailid"><br>
  </mat-form-field>
</div>

    

  <div>
      <mat-form-field>
    <input matInput type="password" placeholder="password"><br>
    </mat-form-field>
  </div>

  <div>
     <mat-form-field>
     <button mat-button color="accent">Login</button>
     </mat-form-field>
 </div>
<div>
    <mat-form-field>
   <a [routerLink]="['register']">Register Here</a>
 </mat-form-field>
</div>
<div>
  <router-outlet></router-outlet>
</div>
 
</div>
<div>
    <mat-form-field>
   <a [routerLink]="['register']">Register Here</a>
 </mat-form-field>
</div>
