
<div class="reset_Container" align="center">
        <mat-card class="mat_card">
        
        <div class="title" align= "center">Reset Password</div>
              <form [formGroup]="resetform">
            
             <div class="Input-fields" align="center">
    
        <mat-form-field>
            <input matInput type="password"  placeholder="New Password" formControlName="password" required>
        </mat-form-field>

        
            </div >
            <div class="button" class="button" align ="center">
            <button mat-raised-button color="primary" (click)='submit()'>submit</button>
            </div>
        
            
            </form>
            </mat-card>
        </div>
        