<div class="login_container" align="center">
<mat-card class="mat_card">
    <div class="title">Login Form</div>
<form [formGroup]="loginform">
    <div class="Input-fields">

        <mat-form-field>
            <input matInput type="email"  placeholder="User Email" formControlName="email" required>
            <mat-error *ngIf="loginform.get('email').errors">
                Enter Valid Email
              </mat-error>

        </mat-form-field>
        <mat-error>
            
        </mat-error>

        <mat-form-field>
            <input matInput type="password" placeholder="password" formControlName="password"  required>
            <mat-error *ngIf="loginform.get('password').errors">
                password must be 5 character Long.
              </mat-error>
        </mat-form-field>
    </div>

    <div class="button_container">
        <div class="button">
            
            <a mat-button routerLink (click)='register()'>SignUp</a>

        </div>
        <div class="button">
            <button mat-raised-button color="Basic" [disabled]="!loginform.valid"  (click)='Login()'>Login</button>
        </div>
    </div>
    <div class="Forgot">
        <button  mat-button routerLink (click)='forgetpassword()'>ForgetPassword?</button>
    </div>
</form>
</mat-card>
<router-outlet></router-outlet>
</div>