.mat-card{
    
    width: 752px;
    height: 20px;
    border-radius: 12px;

   
}
.keepImage{
    widows: 30px;
    height:40px;
}
.title{
    margin-left:30px;
}
.searchBar{
    
    margin-left:25px;
    height: 20px;
    width:630px;
   font-size: 20px;
   border:burlywood;
   outline:none;
}
.searchIcon{
    font-size: 25px;
   
}
.appsIcon{
    margin-left:40px;
}

    .example-sidenav {
    padding: 1%;
    width:20%;
    }
    .labelTitle{
        color:rgba(0, 0, 0, 0.5);
        margin-left:20px;
    }
    .NotesList:active{
        background: rgba(207, 85, 85, 0.5);
        border-radius: 10px;
    }
    .NotesList:hover{
        background: rgba(7, 3, 3, 0.5);
        border-radius: 10px;
    }
    .refresh{
         font-size: 40px;
    /* width:40px;
         height:20px;
       margin-top:2px; */
    } 
